<div class="col-12 col-md-6 col-xl-4" style="margin-bottom: 25px;">
    <!--<a href="{{ shot_url }}" target="_blank">
        <img class="img-fluid" src="{{ img_src }}" style="width: 100%;border-radius: 10px;border: 1px solid rgb(234,234,234) ;">
    </a>
    <a data-imagelightbox="a" href="{{ img_src }}">
        <img class="img-fluid" src="{{ img_src }}" style="width: 100%;border-radius: 10px;border: 1px solid rgb(234,234,234) ;">
    </a>-->
    <a href="{{ img_src }}" data-lightbox data-image-alt="Image 1">
        <img class="img-fluid" src="{{ img_src }}" style="width: 100%;border-radius: 10px;border: 1px solid rgb(234,234,234) ;">
    </a>
</div>